@font-face {
    font-family: BadScript-Regular;
    src: url('../fonts/BadScript-Regular.ttf');
}
@font-face {
    font-family: CoveredByYourGrace-Regular;
    src: url('../fonts/CoveredByYourGrace-Regular.ttf');
}
@font-face {
    font-family: ShadowsIntoLight-Regular;
    src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}
@font-face {
    font-family: Satisfy-Regular;
    src: url('../fonts/Satisfy-Regular.ttf');
}
@font-face {
    font-family: MartianMono-Regular;
    src: url('../fonts/MartianMono-Regular.ttf');
}