.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .gallery-card {
    text-align: center;
    margin: 10px;
  
  }
  
  .gallery-image {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Make sure all images have the same width and height */
    object-fit: cover;
    border: 1px solid #ccc;
  }
  
  .gallery-text {
    margin-top: 10px;
    font-size: 16px;
    color: gray;
  }
  