/* Swiper.css */
.swiper{
.swiper-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0; /* Set your preferred background color */
  }
  
  .swiper-slide-content h2 {
    font-size: 1rem;
    margin: 0;
    color: #333; /* Set your preferred text color */
  }
  .swiper{
    height: 80vh;
  }

  .swiper-button-prev:after,.swiper-button-next:after {
    color: #E9c46A;
    font-size: 20px;
  }
  &.type-last-text{
   .swiper-button-prev:after,.swiper-button-next:after {
    color: #E9c46A;
      font-size: 20px;
     
    }
    .swiper-button-next:after{
      animation: moveArrow 1.5s linear 2s infinite;
      height: 100%;
      width: 100%;
      background-color: rgb(255, 255,255,0.1);
      padding: 1.5rem;
      clip-path: circle(30%);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  }

}
@keyframes moveArrow {
  0% { transform: translateX(0); background-color:#CF5C36}
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

  .story-img{

  }